<form [formGroup]="form" (ngSubmit)="submitSecretKey()" class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Doctor Name</mat-label>
    <input matInput formControlName="doctorName" placeholder="Dr John Smith" />
    <mat-error *ngIf="this.form.controls['doctorName'].hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Patient Name</mat-label>
    <input matInput formControlName="patientName" placeholder="Julia Queen" />
    <mat-error *ngIf="this.form.controls['patientName'].hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <button mat-flat-button type="submit" [disabled]="!form.valid">Submit</button>
</form>
<br />
