<mat-toolbar color="primary">
  <mat-toolbar-row>
    <ng-container *ngIf="!(isAuthenticated$ | async)">
      <a mat-button routerLink="/login">Login</a>
    </ng-container>
    <ng-container [ngSwitch]="type$ | async">
      <ng-container *ngSwitchCase="'SPECIALIST'">
        <a mat-button [routerLink]="'/dashboard'">dashboard</a>
        <a mat-button [routerLink]="'/dashboard/admin-console'">key manager</a>
      </ng-container>
      <ng-container *ngSwitchCase="'GENERAL'">
        <a mat-button [routerLink]="'/record'">record</a>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="isAuthenticated$ | async">
      <button mat-raised-button (click)="logout()">Log out</button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
