<div
  style="
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  "
>
  <pre>
    SETUP

    1. Connect microphone or earphones to your system
    2. Login using unique ID
    3. Please remain quiet when recording is started
    4. Ask child to blow into the microphone
    5. When the child experiences a seizure stop recoding
       and enter relevant details or notes and submit
    6. If child does not experience seizuire, let recording run for 3 mins
  </pre>
  <form
    style="display: flex; flex-flow: column; width: 20rem;"
    [formGroup]="secretKeyForm"
    (ngSubmit)="submitsecretKey()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Secret Key</mat-label>
      <input matInput formControlName="secretKeyFormControl" placeholder="Ex12vasd23" required />
      <mat-error *ngIf="this.secretKeyForm.controls['secretKeyFormControl'].hasError('required')">
        Secret key is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br />
    <button mat-raised-button type="submit" [disabled]="!secretKeyForm.valid">Submit</button>
  </form>
</div>
