<form [formGroup]="secretKeyForm" (ngSubmit)="submitsecretKey()" class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Secret Key</mat-label>
    <input matInput formControlName="secretKeyFormControl" placeholder="Ex12vasd23" required />
    <mat-error *ngIf="this.secretKeyForm.controls['secretKeyFormControl'].hasError('required')">
      Secret key is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <button mat-flat-button type="submit" [disabled]="!secretKeyForm.valid">Submit</button>
</form>
<div>{{ this.isAuthenticated$ | async }}</div>
